.website-body{
   border-width: 1px 0 0 0;
   border-style: solid;
   margin: 0 20px 0 0;
   border-color: rgb(233, 232, 232);
}

.lorem-ipsum{
   color: rgb(45, 118, 244);
}

.first-line{
   font-size: 40px;
   font-weight: bold;
   margin: 50px 0 30px 0;
   text-align: center;
}

.second-line{
   font-size: 19px;
   color: gray;
   text-align: center;
   margin: 0;
}

.buttons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 30px;
}

.first-button{
   font-size: 15px;
   padding: 15px 32px 11px 32px;
   border-radius: 6px;
   background-color: rgb(14, 111, 247);
   color: white;
   border-style: none;
   cursor: pointer;
   
}

.first-button:hover{
   box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
   margin-top: -3px;
   margin-left: -3px;
   margin-right: 3px;
}

.first-button:active{
   margin: 0;
   box-shadow: 0 0 0 black;
}

.second-button{
   font-size: 15px;
   padding: 15px 32px 11px 32px;
   margin-left: 5px;
   border-radius: 6px;
   background-color: white;
   border-width: 1px;
   border-style: solid;
   color: rgb(14, 111, 247);
   border-color: lightgray;
}

.second-button:hover{
   box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
   margin-top: -3px;
   margin-right: 3px;
   margin-left: 3px;
   margin-bottom: 3px;
}

.second-button:active{
   margin: 0 0 0 6px;
   box-shadow: 0 0 0 black;
}

.body-boxes{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 35px;
   
}

.bold-text{
   font-weight: bold;
   font-size: 15px;
   margin: 5px 0 0 0;
}

.simple-text{
   font-size: 18px;
   margin: 4px 0;
}

.left-box{
   
   margin-left: 100px;
   flex: 1;
}

.table-content, table{
   font-size: 14px;
   text-align: left;
   border-collapse: collapse;
   border-width: 1px;
   border-style: solid;
   border-color: lightgray;
   padding: 10px 10px;
}

td{
   color: rgb(65, 65, 65);
}

.middle-box{
   margin-left: 40px;
   font-weight: bold;
   flex: 1;
}

iframe{
   width: 360px;
   height: 170px;
}

.right-box{
   margin-right: 100px;
 
   flex: 1;
}

img{
   margin-left: 100px;
   width: 400px;
   height: 220px;
   border-radius: 5px;
}

.last-box{
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 19px;
   margin-top: 20px;
}

.last-line{
   color: rgb(4, 4, 218);
}

.vertical-line{
   margin: 0px 10px;
}