.website-header{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   padding: 18px 10px;
   margin: 0 0 1px 0;
   border-width: 0 0 1px 0;
   border-style: solid;
   border-color: rgb(232, 232, 232);
}

.left-side{
   padding-left: 24px;
   padding-top: 2px;
   font-weight: 500;
   font-size: 19px;
   flex: 0.9;
   min-width: 200px;
}

.middle-side{
   flex: 1.1;
   padding-left: 20px;
}

.search-bar{
   padding: 11px 0 9px 18px;
   font-size: 15px;
   width: 260px;
   height: 20px;
   border-color:lightgray;
   border-style: solid;
   border-width: 1px;
   border-radius: 5px;
}

.right-side{
   font-size: 18px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding-top: 2px;
   width: 240px;
   margin-right: 24px;
}

.options{
   text-decoration: none;
   color: black;
}

.options:hover{
   cursor: pointer;
}

.options:active{
   text-decoration: none;
}